    .maincss{
display: none ;
    }
@media (min-width: 768px) {
    .maincss{
display: flex ;
    }
}

/* !=================================== */


.swiper-button-next,
.swiper-button-prev {
  background: transparent !important;
  color: white !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
  content: "" !important;
}